body {
  background-color: #383939;
  color: #aee637;
  overflow-x: hidden;
  min-height: 90vh;
  background: linear-gradient(45deg, #233329,#383939, #383939, #343a40, #343a40 , #2d4f70);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
  }


@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

  
.carousel-item{
  padding-left: 60px;
}

.excluir{
  height: 38px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:#aee637;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}

@media only screen and (min-width:765px) {

  .scroll{
    max-height: 538px;
    overflow-y: auto;
  }
}

@media only screen and (max-width:765px) {

  .scroll{
    max-height: 230px;
    overflow-y: auto;
  }
}