<body>

    <!-- NAVBAR 
    <div class="container">
        <nav id="navId" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color: #aee637;">
                    <img src="../../assets/joao.jpg" alt="" width="50" height="50" class="d-inline-block align-text-center">
                    FinTrack
                </a>          
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="btn nav-link" type="button" aria-current="page" style="color: #aee637;">Dashboard</button>

                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn" type="button" style="color: #aee637;" routerLink="/createMaleta" routerLinkActive="active">Criar Maleta</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn nav-link" type="button" style="color: #aee637;" routerLink="/createGrupo" routerLinkActive="active">Criar Grupo</button>
                        </li>
                    </ul>
                    
                    <button id="btn-logout" class="btn btn-sm btn-outline-secondary" type="button" (click)="logout()">{{nome}}&nbsp;&nbsp;<span class="fa fa-sign-out"></span></button>

                </div>
            </div>
        </nav>
    </div>
        -->


  <!--Main layout-->
  <main>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 grid">
                <div class="card">
                    <div class="card-header">
                        Saldo
                    </div>
                    <div class="card-body">
                        R$ 2000,00
                    </div>
                </div>
            </div>
            <div class="col grid">
                <div class="card">
                    <div class="card-header">
                        Maletas
                    </div>
                    <div class="card-body">

                        <div *ngIf="maletas">
                          <div id="maleta-container" *ngFor="let maleta of objectKeys(maletas)">
                            <h3>
                              <span class="label label-primary">{{maletas[maleta].name}}</span>
                              <span class="label label-primary">
                                {{maletas[maleta].prefix}}
                                {{maletas[maleta].value}}
                              </span>
                              <!--<span> {{ cryptos[crypto].USD | currency:'USD':true }}</span>-->
                            </h3>
                          </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>

        <div class="grupo-card">
            <div class="row">
                <div class="col-sm-5 grid">
                    <div class="card">
                        <div class="card-header">
                            Grupos
                        </div>
                        <div class="card-body">
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col">Grupo 1 </div>
                                            <div class="col">Grupo 2 </div>
                                            <div class="col">Grupo 3</div>
                                        </div>
                                        <div class="row">
                                            <div class="col">Grupo 4</div>
                                            <div class="col">Grupo 5</div>
                                            <div class="col">Grupo 6</div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                            
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="cotacao-card">
            <div class="row">
                <div class="col-sm-5 grid">
                    <div class="card">
                        <div class="card-header">
                            Cotação do Bitcoin
                        </div>
                        <div class="card-body">
                            Aqui a cotação dessa porra (gráfico)
                        </div>
                        <div class="card-footer">
                            footer do card
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>

  </main>
  <!--Main layout-->

</body>
