<body>

  <!--Main layout-->
  <main>

    <div class="container mt-2">
        <div class="row d-flex justify-content-around">
            <div class="col-md-5 grid">

                <div class="card bg-dark mb-3">
                    <ul *ngIf="saldo_geral != null; else loading" class="card-header">

                        <ul *ngIf="maletas != null && maletas.length > 0; else semMaletas" class="card-header">
                            <div class="card-header">
                                Saldo Geral
                            </div>
                            <div class="card-body">
                                BRL {{saldo_geral}}
                            </div>
                        </ul>

                        <ng-template #semMaletas class="d-flex align-text-middle card-header">
                            <p style="margin: auto;">Começe criando uma maleta!</p>
                        </ng-template>
                        
                    </ul>

                    <ng-template #loading class="d-flex align-text-middle card-header">
                        <div class="card-header"></div>
                        <div class="card-body">
                            <mat-spinner [diameter]="30" color="primary"></mat-spinner>
                        </div>
                    </ng-template>

                </div>

                <div *ngIf="grupos" class="card bg-dark mb-3">
                    <div class="card-header">
                        Grupos
                    </div>
                    <div class="card-body">
                        <div id="carouselControl" class="carousel slide d-flex" data-ride="carousel">
                            
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <p>Selecione um grupo para visualizá-lo.</p>
                                </div>
                                <div class="carousel-item"  *ngFor="let grupo of objectKeys(grupos)">
                                    <button (click)="onSelectGrupo(grupos[grupo])" class="btn btn-success">
                                        {{grupos[grupo].name}} 
                                    </button>
                                    <button (click)="onDeleteGrupo(grupos[grupo])" class="excluir btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                </div>

                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselControl" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                        </div>         
                    </div>
                </div>

                <div class="card bg-dark mb-3">

                    <ul *ngIf="shown_data">
                        <div *ngIf="cripto_atual === 'BTC'; else otherCotacao" class="card-header">
                            Cotação do Bitcoin: BRL {{btc_current}}
                        </div>

                        <ng-template #otherCotacao>
                            <div class="card-header">
                                Cotação do Ethereum: BRL {{eth_current}}
                            </div>
                        </ng-template>
                    </ul>

                    <div class="card-body">
                        <div id="divChart" class="img-fluid" style="display: block;">
                            <canvas id="myChart" ></canvas>
                        </div>
                    </div>

                    <ul *ngIf="shown_data">
                        <div *ngIf="cripto_atual === 'BTC'; else other">
                            <button (click)="changeCripto()" class="btn btn-success"> ETH </button>
                        </div>
                        <ng-template #other class>
                            <div>
                                <button (click)="changeCripto()" class="btn btn-success"> BTC </button>
                            </div>
                        </ng-template>
                    </ul>

                </div>

            </div>

            <div class="col-md-5 grid">
                <div class="card bg-dark mb-3">
                    <div class="card-header">
                        Maletas
                    </div>
                    <div class="card-body scroll">

                        <div *ngIf="maletas">
                            <ul *ngIf="maletas.length > 0; else noMaletas">
                                <div id="maleta-container" *ngFor="let maleta of objectKeys(maletas)">
                                    <h3>
                                        <button style="width: 200px;" (click)="onSelectMaleta(maletas[maleta].name)" class="btn btn-success" >
                                        <span class="label label-primary">{{maletas[maleta].name}}</span>
                                        <span class="label label-primary">
                                                {{maletas[maleta].prefix}}
                                                {{maletas[maleta].value}}
                                        </span>
                                        </button>
                                        <button (click)="onDeleteMaleta(maletas[maleta].name)" class="excluir btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </h3>
                                </div>
                            </ul>
                            <ng-template #noMaletas class="d-flex align-text-middle card-header">
                                <p style="margin: auto;">Você não possui nenhuma Maleta!</p>
                            </ng-template>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
       
        
    </div>

  </main>
  <!--Main layout-->

</body>
