*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}


/*-------- Navbar ---------*/
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    background-color: rgb(233, 174, 66);
    border-bottom: 1px solid #ccc;
}

nav::after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo{
    float: left;
    max-width: 100px;
    max-height: 80px;
    margin-top: 10px;
}

.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a{
    text-decoration: none;
    color: #666;
    transition: .3s
}

.nav-container li a:hover{
    color: #4882da;
}
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}
/*--------Banner-----------*/
.banner{
    position: relative;
    display: flex;
    background: url(../../assets/banner.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 350px;
    vertical-align: middle;
    align-content: center;
    margin-top: 100px;
    padding: 0 auto;
}

.texto-banner{
    
}

/*------------Sobre app-----------*/
#sobre-app{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 50px 100px;
}

.box img{
    border-radius: 100px;
    max-width: 200px;
    max-height: 200px;
    
}

.box.impar img{
    margin-right: 40px;
}

.box h2{
    

}

.par{
    background-color: #ccc;
    flex-direction: row-reverse;
   
}

/*----------Sobre-nos-----------*/

#sobre-nos{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding-bottom: 20px;
}

.texto-sobre-nos{
    display: flex;
    padding: 10px 100px;
    flex-direction: column;
}

.texto-sobre-nos h2{
    padding: 5px 0;
    text-align: center;
    font-size: 35px;
}

.texto-sobre-nos p{
    padding: 5px 0;
}

.perfis{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.perfil img{
    border-radius: 100px;
    max-width: 200px;
    max-height: 200px;
}

hr{
    justify-content: center;
	border: 0.6px solid #837b50;
    width: 80%;
    margin: 7px 0;
}

/*------------Registro Banner----------------*/

#registre-section{
    position: relative;
    display: flex;
    background: url(../../assets/banner.png);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 350px;
    vertical-align: middle;
    align-content: center;
    padding: 0 auto;
}

.texto-registro{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.texto-registro h2{

}

.texto-registro p{

}

#registrar{
    background-color: rgb(233, 174, 66);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
    text-decoration: none;
}

#registrar:hover{
    background-color: #4882da;
}


/*----------Footer-----------*/

footer{
    background-color: rgb(233, 174, 66);
    padding-top: 3em;
    padding-bottom: 40px;
    border-top: 2px solid #666;
    align-items: center;
    text-align: center;
    
}

footer h2, footer img{
    color: #666;

}

footer h2{
    font-weight: 400;
}

#logo-footer{
    max-width: 100px;
    max-height: 80px;
    margin-top: 10px;
}
