<div class="body">
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <a href="#top"><img id="logo" src="img/logo.png" alt="FinTrack"></a>
                <ul>
                    <li>
                        <a href="">Início</a>
                    </li>
                    <li>
                        <a href="#">Sobre o app</a>
                    </li>
                    <li>
                        <a href="#">Sobre nós</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="principal"> 
        <div id="logo-fintrack">
            <img src="https://uploads.concordia.net/2018/07/24153543/fintrac.jpg" alt="">
        </div>
        <div id="login-container">
            <h1>Login</h1>
            <form action="">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" autocomplete="off">
                <label for="password">Digite uma senha</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha">
                <input type="submit" value="Entrar">
            </form>
            <div id="social-container">
                <p>Ou entre pelas suas redes sociais</p>
                <i class="fa-brands fa-facebook-f" id="logo-facebook"></i>
                <i class="fa-brands fa-linkedin-in" id="logo-linkedin"></i>
            </div>
            <div id="register-container">
                <p>Ainda não possui uma conta?</p>
                <a href="#">Registre-se</a>
            </div>
        </div>
    </div>
</div>