@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@font-face {
    font-family: Source;
    src: url(../../../assets/Fontes/static/SourceCodePro-Light.ttf);
}

body {
    background-color: #383939;
    color: #aee637;
    overflow-x: hidden;
    min-height: 90vh;
    background: linear-gradient(45deg, #233329,#383939, #383939, #343a40, #343a40 , #2d4f70);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    flex-direction: column;
}

img{
    width: 400px; 
    height: 400px;
}

h1{
    font-family: Source, monospace;
    font-weight: 600;

}