<body>
    <main>
        <div class="container mt-2">

            <ul *ngIf="maleta != null; else unexisting">

                <div class="row d-flex justify-content-center">

                    <div class="col-md-6 grid">
                        <div class="card bg-dark mb-3">
                            <div class="card-header">
                                {{maleta.name}}
                            </div>
                            <div class="card-body">
                                <p>{{maleta.prefix}} {{maleta.value}}</p>
                            </div>
                        </div>

                        <!--
                        <div class="card bg-dark mb-3">
                            <div class="card-header">
                                Cotação do(a) 
                            </div>
                            <div class="card-body">
                                <div id="divChart" class="img-fluid" style="display: block;">
                                    <canvas id="myChart" ></canvas>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>

                    <div class="col-md-6 grid">
                        <div class="card bg-dark mb-3">
                            <div class="card-header">
                                Histórico
                            </div>
                            <div *ngIf="registros" class="card-body scroll">
                                <div class="card-body" *ngFor="let reg of objectKeys(registros)">
                                    <span>{{registros[reg].value}} {{registros[reg].descricao}}</span>
                                  <!--<button class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i></button>-->
                                    <button (click)="removeRegistro(registros[reg])" style="margin-left: 5px;" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-center">
                                <form [formGroup]="form" ngNativeValidate> <!-- (submit)="createRegistro()" -->    
                                    <div class="form-group">
                                        <input formControlName="descricao" type="text" class="form-control form-control-user" id="descricao" placeholder="Descrição">
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text">{{maleta.prefix}}</span>
                                            <input formControlName="value" type="number" class="form-control form-control-user" step="any" id="value" placeholder="Valor" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" (click)="clickPlus()" class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
                                        <button type="submit" (click)="clickMinus()" class="btn btn-danger"><i class="fa-solid fa-minus"></i></button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </ul>

            <ng-template #unexisting class="d-flex align-text-middle">
                <h1 style="margin: auto;">{{errorMessage}}</h1>
            </ng-template>


        </div>
    </main>    
</body>
