<body>
    <!--Main Navigation-->

<header>

    <!-- Navbar -->
    <div class="container">
      
      <nav id="navId" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        
          <div class="container-fluid">
              <button id="sidebarCollapse" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              <a class="navbar-brand" [routerLink]="['home']" style="color: #aee637;">
                  <img src="../../assets/joao.jpg" alt="" width="50" height="50" class="d-inline-block align-text-center">
                  FinTrack
              </a>          
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <button [routerLink]="['home']" class="btn nav-link" type="button" aria-current="page" style="color: #aee637;">Dashboard</button>

                      </li>
                      <li class="nav-item">
                          <button [routerLink]="['createMaleta']" class="nav-link btn" type="button" style="color: #aee637;"  routerLinkActive="active">Criar Maleta</button>
                      </li>
                      <li class="nav-item">
                          <button [routerLink]="['createGrupo']" class="btn nav-link" type="button" style="color: #aee637;"  routerLinkActive="active">Criar Grupo</button>
                      </li>
                  </ul>
                  
  
                    
  
                  <button id="btn-logout" class="btn btn-sm btn-outline-secondary" type="button" (click)="logout()">{{nome}}&nbsp;&nbsp;<span class="fa fa-sign-out"></span></button>

              </div>
          </div>
      </nav>
    </div>
     <!-- Navbar -->

     
    <div class="container">
      
      <!-- Sidebar -->
      <nav id="sidebar" class="bg-dark fixed navbar-expand-lg navbar-collapse">
          <div class="sidebar-header nav-item">
              <h3>Fintrack</h3>
          </div>
  
          <ul class="list-unstyled components">
              <p class="nav-item">Organizando suas finanças</p>
              <li class="nav-item">
                  <a [routerLink]="['home']" href="#"><i class="fas fa-tachometer-alt fa-fw me-3"></i>Dashboard</a>
              </li>
              <li class="nav-item">
                  <a [routerLink]="['createMaleta']" href="#"><i class="fas fa-lock fa-fw me-3"></i>Criar Maleta</a>
              </li >
              <li class="nav-item">
                  <a [routerLink]="['createGrupo']" href="#"><i class="fas fa-chart-line fa-fw me-3"></i>Criar Grupo</a>
              </li>
          </ul>
      </nav>
  
  </div>
</header>

  
  <!--Main layout-->
  <main style="margin-top: 76px;">
    <router-outlet></router-outlet>
    
  </main>
  <!--Main layout-->



</body>