<body>
    <header>
    </header>
    <div id="voltar"><a href=""><img src="../../assets/voltar.png" alt=""></a></div>
    <div id="principal">
        <section class="images">
            <div id="logo-fintrack">
                <img src="../../assets/coins.svg" alt="Moedas">
            </div>
            <div class="circle"></div>
        </section>
        <div id="register-container">
            <h1>Registre-se</h1>
            <form action="">
                <label for="nome">Digite seu nome</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome" autocomplete="off">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" autocomplete="off">
                <label for="password">Digite uma senha</label>
                <input type="password" name="password" id="password" placeholder="Digite sua senha">
                <label for="password">Confirme sua senha</label>
                <input type="password" name="confirmed-password" id="confirmed-password" placeholder="Confirme sua senha">
                <input type="submit" value="Entrar">
            </form>
            <div id="social-container">
                <p>Ou entre pelas suas redes sociais</p>
                <i class="fa-brands fa-facebook-f" id="logo-facebook"></i>
                <i class="fa-brands fa-linkedin-in" id="logo-linkedin"></i>
            </div>
            <div id="login-container">
                <p>Já possui uma conta?</p>
                <a href="#">Login</a>
            </div>
        </div>
    </div>
</body>