<body>

    <!--Main layout-->
    <main>

      <ul *ngIf="grupo != null; else unexisting">

        <div class="container mt-2">
            <div class="row d-flex justify-content-around">
                <div class="col-md-5 grid">
    
                    <div class="card bg-dark mb-3">
                      <div class="card-header">
                          Saldo {{grupo.name}}
                      </div>
                      <div class="card-body">
                          {{grupo.prefix}} {{saldo_grupo}}
                      </div>
                    </div>
                </div>
                <div class="col-md-5 grid">
                    <div class="card bg-dark mb-3">
                        <div class="card-header">
                            Maletas
                        </div>

                        <div *ngIf="maletas != null && maletas.length > 0; else noMaletas" class="card-body scroll">
                          <div class="card-body" *ngFor="let index of objectKeys(maletas)">
                              <span>{{maletas[index].name}} {{maletas[index].prefix}} {{maletas[index].value}}</span>
                          </div>
                        </div>

                        <ng-template #noMaletas class="d-flex align-text-middle card-header">
                            <div class="card-body">
                              <span>As Maletas deste grupo foram excluídas!</span>
                            </div>
                        </ng-template>
                        
                    </div>
                </div>
            </div>
            
            <div class="cotacao-card">
                <div class="row justify-content-center" >
                    <div class="col-sm-6 grid">
                        
                    </div>
                    
                </div>
            </div>
            
        </div>

      </ul>

      <ng-template #unexisting class="d-flex align-text-middle card-header">
        <p style="margin: auto;">{{errorMessage}}</p>
      </ng-template>
  
    </main>
    <!--Main layout-->
  
  </body>
  