<body>

    <!--Main layout-->
    <main>
        <!--
      <div class="container">
          <div class="grid col">
              <div class="row">
                  adasd
              </div>
              <div class="row">
                  sasdf   
              </div>
          </div>
          <div class="grid col">
              <div class="row"></div>
          </div>
      </div>
      -->
      <div class="container mt-2">
          <div class="row d-flex justify-content-around">
              <div class="col-md-5 grid">
  
                  <div class="card bg-dark mb-3">
                    <div class="card-header">
                        Saldo {{grupo.name}}
                    </div>
                    <div class="card-body">
                        {{grupo.prefix}} {{saldo_grupo}}
                    </div>
                  </div>
              </div>
              <div class="col-md-5 grid">
                  <div class="card bg-dark mb-3">
                      <div class="card-header">
                          Maletas
                      </div>
                      <div class="card-body scroll">
                        <div class="card-body" *ngFor="let maleta of objectKeys(maletas)">
                            <span>{{maletas[maleta].name}} {{maletas[maleta].value}}</span>
                          <!--<button class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i></button>-->
                            <button (click)="removeMaleta(maletas[maleta])" style="margin-left: 5px;" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </div>
                      
                  </div>
              </div>
          </div>
          
          <div class="cotacao-card">
              <div class="row justify-content-center" >
                  <div class="col-sm-6 grid">
                      
                  </div>
                  
              </div>
          </div>
          
      </div>
  
    </main>
    <!--Main layout-->
  
  </body>
  